body {
    font-family: monospace;
    margin: 0;
}

.bg-img {
    background-image: url('blue_bg.jpg');
}

header {
    margin-top: 40pt;
    text-align: center;
}


.h1-font-size {
    font-size: 20pt;
    color: rgb(48, 117, 117);
}


.form-font {
    font-size: 16pt;
    color: rgb(48, 117, 117);
}

.field-indent {
    display: block;
    margin-top: 20pt;
    margin-bottom: 20pt;
    margin-left: 20pt;
    margin-right: 20pt;
}

.input-box {
    background-color: rgba(135, 201, 228, 0.644);
    border: 1px solid rgba(69, 127, 179, 0.836);
    border-radius: 0px 5px;
    border-color: rgb(56, 108, 153);
    padding: 5pt;

}

.external-container {
    text-align: center;
}

.container {
    display: inline-block;
    text-align: center;
    margin-top: 70px;
    border: 2px solid rgba(65, 137, 165, 0.644);
    border-radius: 0px 20px;
    box-shadow: 10px 10px 40px rgb(2, 88, 119);
    ;
}

.okButton {
    background-color: rgba(65, 137, 165, 0.644);
    height: 35px;
    width: 80px;
    color: rgb(8, 51, 88);
    font-size: 16px;
    font-family: monospace;
    margin-bottom: 20pt;
    border: 1px solid rgba(69, 127, 179, 0.836);
    border-radius: 0px 5px;
}